In [1]:
import pandas as pd

In [2]:
a=pd.read_csv("D:\\Pandas(python library)\\demo.csv")
print(a)

   a   b   c
0  1   8  15
1  2   9  16
2  3  10  17
3  4  11  18
4  5  12  19
5  6  13  20
6  7  14  21

In [3]:
a.index

RangeIndex(start=0, stop=7, step=1)

In [4]:
a.columns

Index(['a', 'b', 'c'], dtype='object')

In [6]:
a.describe()

              a          b          c
count  7.000000   7.000000   7.000000
mean   4.000000  11.000000  18.000000
std    2.160247   2.160247   2.160247
min    1.000000   8.000000  15.000000
25%    2.500000   9.500000  16.500000
50%    4.000000  11.000000  18.000000
75%    5.500000  12.500000  19.500000
max    7.000000  14.000000  21.000000

In [9]:
a.head(2) #from top show only continous 2 datas

   a  b   c
0  1  8  15
1  2  9  16

In [10]:
a.tail(2) #from down or bottom

   a   b   c
5  6  13  20
6  7  14  21