dataframes:A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensionalarray, or a table with rows and columns.

**BASICS TO DATAFRAMES:-**

creating dataframes with the help of lists:-

In [6]:
import pandas as pd
l=[11,12,13,14]
var1= pd.DataFrame(l)
print(var1)

    0
0  11
1  12
2  13
3  14

creating dataframes with the help of dictionary:-

In [12]:
dic={
    "name":["rajdeep","rohan","sanvi","mohit"],
    "roll numbers":[1,2,3,4],
    "department":["cse","ece","mechanical","civil"]
}
var2=pd.DataFrame(dic,index=["a)","b)","c)","d)"])
print(var2)
print()
print(var2["name"]["a)"]) #getting a particular value

       name  roll numbers  department
a)  rajdeep             1         cse
b)    rohan             2         ece
c)    sanvi             3  mechanical
d)    mohit             4       civil

rajdeep

creating dataframes using list into list

In [13]:
list1=[[21,23,45,67],[34,6,78,89]]
var3=pd.DataFrame(list1)
print(var3)

    0   1   2   3
0  21  23  45  67
1  34   6  78  89

creating dataframes using multiples series

In [18]:
dic_series={
    "a":pd.Series([12,13,14,15]),
    "b":pd.Series([34,35,36,37])
}
var4=pd.DataFrame(dic_series)
print(var4)

    a   b
0  12  34
1  13  35
2  14  36
3  15  37