In [25]:
import pandas as pd
var10= pd.DataFrame(
    {
        "A":[1,2,3,4,5],
        "B":[6,7,8,9,10]
    }
)
var10

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

inserting an column

In [26]:
var10.insert(1,"C",var10["A"]) #column index,column name,column elements
print(var10)

   A  C   B
0  1  1   6
1  2  2   7
2  3  3   8
3  4  4   9
4  5  5  10

In [27]:
var10.insert(2,"D",[12,13,14,15,16])#the length of the rows should be same
print(var10)

   A  C   D   B
0  1  1  12   6
1  2  2  13   7
2  3  3  14   8
3  4  4  15   9
4  5  5  16  10

deleting a column using "del" or "pop" function

In [28]:
del var10["D"] #deleting column b
print(var10)

   A  C   B
0  1  1   6
1  2  2   7
2  3  3   8
3  4  4   9
4  5  5  10