In [1]:
import pandas as pd

READING A CSV FILE FROM A FILE LOCATION

In [4]:
var1=pd.read_csv("D:\\Pandas(python library)\\demo.csv") #reading from a csv files
var1

   a   b   c
0  1   8  15
1  2   9  16
2  3  10  17
3  4  11  18
4  5  12  19
5  6  13  20
6  7  14  21

GETTING A SPECIFIC ROW OR COLUMN FROM THE CSV FILE

In [7]:
var2=pd.read_csv("D:\\Pandas(python library)\\demo.csv",nrows=3) #for getting rows
print(var2)

   a   b   c
0  1   8  15
1  2   9  16
2  3  10  17

GETTING A SPECIFIC COLUMNS FROM THE CSV FILES

In [8]:
var2=pd.read_csv("D:\\Pandas(python library)\\demo.csv",usecols=["a"])
print(var2)

   a
0  1
1  2
2  3
3  4
4  5
5  6
6  7

skipping rows

In [9]:
var3=pd.read_csv("D:\\Pandas(python library)\\demo.csv",skiprows=2)
print(var3)

   2   9  16
0  3  10  17
1  4  11  18
2  5  12  19
3  6  13  20
4  7  14  21

setting an header

In [11]:
var4=pd.read_csv("D:\\Pandas(python library)\\demo.csv",header=4)
var4

   4  11  18
0  5  12  19
1  6  13  20
2  7  14  21