series: is an one dimensional array.capable of storing various data types

In [2]:
import pandas as pd

In [4]:
arr=[11,35,78,54,68,89]
var= pd.Series(arr,index=['a','b','c','d','e','f'],name="series")
print(var)
print(type(var))

a    11
b    35
c    78
d    54
e    68
f    89
Name: series, dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
dic={
    "name":["rajdeep","rohan","srija","tanveer"],
    "roll number":[12,34,56,1]
}
var1=pd.Series(dic)
print(var1)

name           [rajdeep, rohan, srija, tanveer]
roll number                     [12, 34, 56, 1]
dtype: object

In [11]:
s1= pd.Series(12,index=['1','2','3','4'])
s2=pd.Series(12,index=['1','2'])
print(s1)
print()
print(s2)
print()
print(s1+s2) #if we use numpy array then it would show broadcasting error happen

1    12
2    12
3    12
4    12
dtype: int64

1    12
2    12
dtype: int64

1    24.0
2    24.0
3     NaN
4     NaN
dtype: float64